<!-- nav -->
<nav class="nav">
  <a class="links" routerLink="/">Home</a>
  <div class="logo">
    <img
      src="../../../../assets/star-wars-logo-31.png"
      alt="Logo de Star Wars"
    />
  </div>
  <a class="links" (click)="logout()" *ngIf="isAuthenticated()">Logout</a>
</nav>
<div class="menu" *ngIf="isAuthenticated()">
  <div
    class="link-container py-2"
    [ngClass]="{ selected: selectedLink === 'home' }"
  >
    <a routerLink="/" (click)="selectLink('home')">HOME</a>
  </div>
  <div
    class="link-container py-2"
    [ngClass]="{ selected: selectedLink === 'starships' }"
  >
    <a routerLink="/starships" (click)="selectLink('starships')">STARSHIPS</a>
  </div>
</div>

<!-- main app container -->
<router-outlet></router-outlet>
