nav {
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 50px 20px 50px;
  gap: 20px;
}

.logo {
  flex: 1;
  display: flex;
  justify-content: center;
}

.right-links {
  display: flex;
  gap: 10px;
}

.link {
  text-decoration: none;
  color: white;
}

.logo img {
  width: 200px;
}

.links {
  display: flex;
  align-items: center;
}

a {
  font-size: 18px;
  text-decoration: none;
  color: white;
  cursor: pointer;
}

.links a:hover {
  color: #fad931;
  transition: 0.5s;
}

.menu {
  background-color: black;
}

.menu a {
  margin: 0 20px;
  text-decoration: none;
  color: white;
}

.menu a:hover {
  color: #fad931;
  transition: 0.5s;
}

.link-container.selected {
  border-bottom-color: #fad931;
}

.link-container {
  border-bottom: 1px solid rgba(128, 128, 128, 0.2);
}

.img-welcome {
  width: 100vw;
  height: 84vh;
}
