<!-- nav -->
<nav class="nav">
  <div class="logo">
    <img
      src="../../../../assets/star-wars-logo-31.png"
      alt="Logo de Star Wars"
    />
  </div>
  <div class="right-links">
    <ng-container *ngIf="isAuthenticated(); else loginLinks">
      <a class="link" (click)="logout()">Logout</a>
    </ng-container>
    <ng-template #loginLinks>
      <a class="link" routerLink="account/login">Login</a>
      <a class="link" routerLink="account/register">Register</a>
    </ng-template>
  </div>
</nav>

<!-- menu -->
<div class="menu" *ngIf="isAuthenticated()">
  <div
    class="link-container py-2"
    [ngClass]="{ selected: selectedLink === 'home' }"
  >
    <a routerLink="/" (click)="selectLink('home')">HOME</a>
  </div>
  <div
    class="link-container py-2"
    [ngClass]="{ selected: selectedLink === 'starships' }"
  >
    <a routerLink="/starships" (click)="selectLink('starships')">STARSHIPS</a>
  </div>
</div>

<main>
  <div *ngIf="showWelcomeImage">
    <img
      class="img-welcome"
      src="../assets/inicial-background-1.jpg"
      alt="Imagen de bienvenida"
    />
    <button class="go-to-starships-btn">
      <a routerLink="/starships" class="go-to-starships">Go to Starships</a>
    </button>
  </div>

  <div *ngIf="!showWelcomeImage">
    <router-outlet></router-outlet>
  </div>
</main>
