<div class="container-fluid text-light">
  <div class="row justify-content-center">
    <p>
      This article is about the media franchise as a whole. For the original
      1977 film, see Star Wars (film). For other uses, see Star Wars
      (disambiguation). Star Wars Star wars2.svg Created by George Lucas
      Original work Star Wars (1977)[a][b] Owner Lucasfilm Ltd. (The Walt Disney
      Company) Years 1977–present Print publications Book(s) List of reference
      books Novel(s) List of novels Short stories See list of novels Comics List
      of comics Comic strip(s) See list of comics Magazine(s) Star Wars Insider
      (1987–present) Films and television Film(s) Full list Live-action
      Skywalker Saga (9 films; 1977–2019) Anthology (2 films; 2016–present)
      Animated The Clone Wars (2008) Television series Full list Animated Droids
      (1985-1986) Ewoks (1985–1986) Clone Wars (2003–2005) The Clone Wars
      (2008–2020) Rebels (2014–2018) Resistance (2018–2020) The Bad Batch
      (2021–present) Visions (2021–2023) Tales of the Jedi (2022–present) Young
      Jedi Adventures (2023–present) Live-action The Mandalorian (2019–present)
      The Book of Boba Fett (2021–2022) Obi-Wan Kenobi (2022) Andor
      (2022–present) Television special(s) Holiday Special (1978) Television
      film(s) The Ewok Adventure (1984) The Battle for Endor (1985) Games
      Role-playing List of RPGs Video game(s) Full list X-Wing (4 games;
      1993–1999) Jedi Knight (4 games; 1995–2003) Rogue Squadron (3 games;
      1998–2003) Knights of the Old Republic (3 games; 2003–present) Battlefront
      (8 games; 2004–2017) Lego Star Wars (6 games; 2005–present) The Force
      Unleashed (2 games; 2008–2010) Audio Radio program(s) List of radio dramas
      Original music Music Miscellaneous Toy(s) Merchandise Theme park
      attraction(s) List of attractions Star Wars is an American epic space
      opera[1] multimedia franchise created by George Lucas, which began with
      the eponymous 1977 film[b] and quickly became a worldwide pop culture
      phenomenon. The franchise has been expanded into various films and other
      media, including television series, video games, novels, comic books,
      theme park attractions, and themed areas, comprising an all-encompassing
      fictional universe.[c] Star Wars is one of the highest-grossing media
      franchises of all time. The original film (Star Wars), retroactively
      subtitled Episode IV: A New Hope (1977), was followed by the sequels
      Episode V: The Empire Strikes Back (1980) and Episode VI: Return of the
      Jedi (1983), forming the original Star Wars trilogy. Lucas later returned
      to the series to direct a prequel trilogy, consisting of Episode I: The
      Phantom Menace (1999), Episode II: Attack of the Clones (2002), and
      Episode III: Revenge of the Sith (2005). In 2012, Lucas sold his
      production company to Disney, relinquishing his ownership of the
      franchise. This led to a sequel trilogy, consisting of Episode VII: The
      Force Awakens (2015), Episode VIII: The Last Jedi (2017), and Episode IX:
      The Rise of Skywalker (2019). All nine films of the "Skywalker Saga" were
      nominated for Academy Awards, with wins going to the first two releases.
      Together with the theatrical live action "anthology" films Rogue One
      (2016) and Solo (2018), the combined box office revenue of the films
      equated to over US$10 billion, which makes it the second-highest-grossing
      film franchise of all time.[3][4] Premise The Star Wars franchise depicts
      the adventures of characters "A long time ago in a galaxy far, far
      away",[5] in which humans and many species of aliens (often humanoid)
      co-exist with robots (typically referred to in the films as 'droids'), who
      may assist them in their daily routines; space travel between planets is
      common due to lightspeed hyperspace technology.[6][7][8] The planets range
      from wealthy, planet-wide cities to deserts scarcely populated by
      primitive tribes. Virtually any Earth biome, along with many fictional
      ones, has its counterpart as a Star Wars planet which, in most cases, teem
      with sentient and non-sentient alien life.[9] The franchise also makes use
      of other astronomical objects such as asteroid fields and nebulae.[10][11]
      Spacecraft range from small starfighters, to huge capital ships such as
      the Star Destroyers, to space stations such as the moon-sized Death Stars.
      Telecommunication includes two-way audio and audiovisual screens,
      holographic projections, and HoloNet (internet counterpart). The universe
      of Star Wars is generally similar to the real universe but its laws of
      physics are less strict allowing for more imaginative stories.[12] One
      result of that is a mystical power known as the Force which is described
      in the original film as "an energy field created by all living things ...
      [that] binds the galaxy together".[13] The field is depicted as a kind of
      pantheistic god.[14] Through training and meditation, those whom "the
      Force is strong with" exhibit various superpowers (such as telekinesis,
      precognition, telepathy, and manipulation of physical energy).[15] It is
      believed nothing is impossible for the Force.
    </p>
  </div>
</div>
